body {
  background-color: #f5f7fa;
  margin: 5% 7%;
  border-width: 10;
  border-color: aliceblue;
}

.top-container {
  background-color: #0d6efd;
  position: relative;
  padding: 5px;
  border-width: 5px;
  border-style: double;
  text-align: center;
}

center {
  font-style: italic;
  color: yellow;
  font-size: 50px;
}
a {
  font-size: 30px;
  text-decoration: underline;
}
form,
label {
  color: #084298;
  padding: 8px 0;
  font-weight: 500;
  font-size: 1rem;
}

.form-control {
  font-size: 0.85rem;
}
#output, #output1, #output2 {
  font-size: 0.85rem;
}

hr {
  color: #fff;
}
list {
  color: yellow;
}
thead {
  color: yellow;
}
td,
th {
  color: white;
}
#head {
  color: yellow;
}
h3 {
  color: rgb(120, 114, 114);
  text-align: center;
  font-size: 1rem;
  margin-top: -5px;
}
h2 {
  color: rgb(255, 255, 255);
  font-style: oblique;
  font-stretch: normal;
}
h5 {
  color: #084298;
  opacity: 0.8;
  font-size: 1rem;
}
ol {
  color: rgb(148, 145, 145);
}
li {
  font-size: 0.9rem;
}
img {
  width: 100px;
  height: 100px;
}
#anchor {
  font-size: 20px;
}

table{
  width: auto !important;
}

table td,th {
  position: relative;
  color: black;
}
th{
  text-align: center;
  vertical-align: middle;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100% !important;
  width: 100%;
  border-style:ridge;
  padding: 10px;
  box-sizing: border-box;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  body{
    margin: 5% 3%;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  #graph{
    height: 1000px;
  }
  table{
    font-size: 1rem;
  }
}


