.top-container {
  background-color: #e9da0a;
  position: relative;
  padding: 5px;
  border-width: 5px;
  border-style: double;
  text-align: center;
}

body {
  background-color: #003865;
  margin: 5% 7%;
  border-width: 10;
  border-color: aliceblue;
  /* padding: 20px; */
}

center {
  font-style: italic;
  color: yellow;
  font-size: 50px;
}
a {
  font-size: 30px;
  text-decoration: underline;
}
form,
label {
  color: yellow;
  padding: 8px 0;
  font-size: 1rem;
}

.form-control {
  font-size: 0.85rem;
}
#output, #output1, #output2 {
  /* white-space: pre; */
  font-size: 0.85rem;
}
hr {
  color: #fff;
}
list {
  color: yellow;
}
thead {
  color: yellow;
}
td,
th {
  color: white;
}
#head {
  color: yellow;
}
h3 {
  color: rgb(220, 255, 220);
  text-align: center;
  font-size: 1rem;
  margin-top: -5px;
}

ol {
  color: white;
  opacity: 0.6;
}
h2 {
  color: red;
  font-style: oblique;
  font-stretch: normal;
}
.h5 {
  color: white;
  opacity: 0.7;
  font-size: 1rem;
}
li {
  font-size: 0.9rem;
}
img {
  width: 100px;
  height: 100px;
}
#anchor {
  font-size: 20px;
}

table{
  width: 100% ! important
}
table td {
  position: relative;
}
th{
  text-align: center;
  vertical-align: middle;
}


table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100% !important;
  width: 100%;
  /* border-radius: 0 !important; */
  border-style:ridge;
  /* border: none; */
  padding: 10px;
  box-sizing: border-box;
}


/* Mobile */
@media only screen and (max-width: 600px) {
  body{
    margin: 5% 3%;
  }
}

